* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.wrapper {
    width: 1350px;
    background-color: #E0DDD8;
    margin-top: 150px; /* Відступ дорівнює висоті шапки */
}

.container {
    width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
/* header */
header {
    position: fixed; /* Фіксуємо шапку */
    top: 0;
    left: 0;
    width: 100%; /* Розтягуємо на всю ширину */

    display: flex; /* Вирівнюємо елементи в рядок */
    justify-content: space-between; /* Розподіл простору між елементами */
    align-items: center;
    padding: 10px 20px; /* Внутрішні відступи */
    z-index: 500; /* Поверх іншого контенту */
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь для шапки */
}

.header-left, .header-right {
    display: flex; /* Елементи в рядок */
    align-items: center;
    gap: 10px; /* Проміжок між кнопками */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Темний текст */
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.header-btn {
    background-color: #FFFFFF;
    padding: 9px 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.header-btn:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.profile-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 20px;
}
/*content*/
.hero {
    background-color: #e0e0e0;
    padding: 50px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

.image-section {
    background-color: #f0f0f0;
    padding: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
    text-align: left; 
}

.text {
    max-width: 300px; 
    font-size: 16px;
    color: #333;
}

.image-placeholder {
    width: 200px;
    height: 300px;
    background-color: #ccc;
}

.cards-section {
    background-color: #fff4db;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 150px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.action-section {
    padding: 20px;
    text-align: center;
}

.secondary-btn {
    padding: 10px 20px;
    background-color: #f5dba1;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.category-section {
    background-color: #fff4db;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 20px;
}

.category {
    width: 372px;
    height: 643px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px; 
    font-weight: bold;
    border-radius: 35px; 
}

.search-bar {
    text-align: right;
    margin: 20px 0;
}

.search-bar input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.hero, .image-section, .cards-section, .action-section {
    padding: 20px;
}

/* LOG IN PAGE */
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login-page .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #008C80;
    cursor: pointer;
    transition: 0.3s;
}

#login-page .close-btn:hover {
    color: #006d64;
}

#login-page .wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(183, 219, 214, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    padding: 40px;
}

#login-page .form-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#login-page .wrapper.active .form-wrapper.sign-in {
    transform: scale(0);
}

#login-page .wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 0;
    transform: scale(0);
}

#login-page .wrapper.active .form-wrapper.sign-up {
    transform: scale(1);
}

#login-page .form-wrapper h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

#login-page .input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

#login-page .input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

#login-page .input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
}

#login-page .input-group input:focus~label,
#login-page .input-group input:valid~label {
    top: -5px;
    color: #008C80;
    font-size: 12px;
}  

#login-page .remember {
    margin: -5px 0 15px 5px;
}

#login-page .remember label {
    color: #fff;
    font-size: 14px;
}

#login-page .remember label input {
    accent-color: #008C80;
}

#login-page a {
    color: #008C80;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

#login-page a:hover {
    color: #006d64;
}

#login-page :where(.forgot-pass) {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.7rem;
    font-weight: 600;
}

#login-page button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #008C80;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 15px;
}

#login-page .google-button a {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #008C80;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

#login-page .google-button a:hover {
    color: #008C80;
    background-color: #fff;
}

#login-page button:hover {
    background: #006d64;
}

#login-page .signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

#login-page .signUp-link p {
    color: #fff;
    font-weight: 600;
}

/* Preloader */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 501;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: blue ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}

.preloader.done{
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} 

/* Change theme */

.them-btn {
    position: fixed;
    z-index: 500;
    right: 0;
    top: 150px;
    background: var(--bg-transparent-color-01);
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.them-btn .sun,
.them-btn.sun .moon {
    display: none;
}

.them-btn.sun .sun {
    display: block;
}