<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Website categories</title>
    <link href="./main.css" rel="stylesheet">
</head>
<body>
    <div id="page-preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <div class="wrapper">
        <header class="container">
            <div class="header-left">
                <button class="header-btn">Button 1</button>
                <button class="header-btn">Button 2</button>
            </div>

            <span class="logo">Logo</span>

            <div class="header-right">
                <button class="header-btn">Button 3</button>
                <button class="header-btn">Button 4</button>
                <div class="profile-icon"></div>
            </div>
        </header>

        <main>
            <div class="search-bar">
                <input type="text" placeholder="Search..." />
            </div>


            <section class="category-section">
                <div class="category">Italian</div>
                <div class="category">French</div>
                <div class="category">Spanish</div>
                <div class="category">Mexican</div>
            </section>
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <p>Footer Content</p>
        </div>
    </footer>
<script src="preloader.js"></script>
</body>
</html>
