<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe website map</title>
    <link href="./main.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="container">
            <div class="header-left">
                <button class="header-btn">Button 1</button>
                <button class="header-btn">Button 2</button>
            </div>

            <span class="logo">Logo</span>

            <div class="header-right">
                <button class="header-btn">Button 1</button>
                <button class="header-btn">Button 2</button>
                <div class="profile-icon"></div>
            </div>
        </header>
    </div>
        <img src="/img/map.svg">
    <footer>
        <p>Footer </p>
    </footer>

</body>
</html>
