.categorytitle {
    font-size: 96px; 
    color: #000000; 
    text-align: left; 
    margin-bottom: 20px; 
    position: relative; 
    font-family: "Comfortaa", sans-serif; 
  }
  
nav {
    text-align: center;
    margin-bottom: 20px;
  }
  
nav span {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px 35px;
    text-decoration: none;
    color: #000000;
    font-size: 32px;
    font-family: "Comfortaa", sans-serif; 
  }

  .track-wrap {
    display: flex;
    justify-content: center; 
  }

  .track {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    width: 100%;
    padding: 45px;
}

.selectedCategory {
  color: #FF5C39;

}

.item {
    position: relative; 
    width: 372px; 
    height: auto; 
    border-radius: 35px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 25px; /* Space between rows */
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.item p {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px 15px; 
    color: white;
    font-family: "Comfortaa", sans-serif; 
    font-size: 34px; 
    font-weight: 500; 
    line-height: 44.2px; 
    text-align: left; 
    box-sizing: border-box; 
    background-color: rgba(255, 255, 255, 0); 
}