.hero {
    background-color: #e0e0e0;
    padding: 50px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

.image-section {
    background-color: #f0f0f0;
    padding: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
    text-align: left; 
}

.text {
    max-width: 300px; 
    font-size: 16px;
    color: #333;
}

.image-placeholder {
    width: 200px;
    height: 300px;
    background-color: #ccc;
}

.cards-section {
    background-color: #fff4db;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 150px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.action-section {
    padding: 20px;
    text-align: center;
}

.secondary-btn {
    padding: 10px 20px;
    background-color: #f5dba1;
    border: none;
    cursor: pointer;
}

.category-section {
    background-color: #fff4db;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;   
    align-items: flex-end; 
  
}

.category {
    width: 372px;
    height: 643px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px; 
    font-weight: bold;
    border-radius: 35px; 
}

.search-bar {
    text-align: right;
    margin: 20px 0;
}

.search-bar input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.hero, .image-section, .cards-section, .action-section {
    padding: 20px;
}

.hero-text {
    flex: 1;
    margin-right: 20px;
  }
  
.hero-text h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
.hero-image {
    flex: 1;
    height: 200px;
    background-color: #ddd;
    border-radius: 10px;
  }
  
.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.grid-item {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
.grid-item.large {
    grid-column: span 2;
    height: 150px;
  }