.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 96px; 
    color: #000000; 
    text-align: left;
    margin-bottom: 20px; 
    position: relative; 
    font-family: "Comfortaa", sans-serif; 
}

.title::after {
    content: ""; 
    position: absolute;
    width: 519px; 
    height: 5px; 
    background-color: #FF5C39; 
    bottom: -5px; 
    left: 0%; 
  }
  
.carrousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.track {
    display: flex;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
    width: 100%;
}

.item {
    position: relative; 
    width: 372px; 
    height: 643px; 
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: "Comfortaa", sans-serif; 
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.item p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 15px; 
    color: #fff;
    font-family: "Comfortaa", sans-serif; 
    font-size: 34px; 
    font-weight: 500; 
    line-height: 44.2px; 
    text-align: left; 
    box-sizing: border-box; 
}

.carrouselButton {
    background-color: transparent;
    width: 38px;
    height: 42px; 
    border: none; 
    color: #FF5C39; 
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 695px;

    padding: 8px 12px;
}

.carrouselButton.left {
    left: 90px; 
}

.carrouselButton.right {
    right: 90px;
}

.moreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px; 
    height: 48px;
    background-color: #7A90FF; 
    border-radius: 50%; 
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 37px;
    left: 279px;
    cursor: pointer;
}

.arrow {
    transform: rotate(-360deg); 
    font-size: 35px;
    line-height: 0; 
}

