.Footer {
  padding: 0 5vw;
  height: 28vh;
  min-height: 150px;
  background-color: #F6ECE1;
  display: flex;
  align-items: center;
  position: relative; 
}

.logo {
  width: 15%;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%); 
}

.social {
  margin: 10px;
}

.links_right {
  font-size: 24px;
  margin-left: auto;
}

.links_left {
  font-size: 24px;
  margin-right: auto; 
}

.links_left div {
  font-family: 'Comfortaa', sans-serif; 
}

.links_right div {
  font-family: 'Comfortaa', sans-serif; 
}